<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
    <link rel="stylesheet" href="/static/sidebar.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <!-- Container wrapper -->
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand text-light">DancePlay</a>
          </div>
          {% if not g.user %}
          <ul class="nav navbar-nav ml-auto flex-row float-right"></ul>
            <li class="navbar-nav nav-item">
              <a class="nav-link pr-3 text-light" href="/login">Login</a>
            </li>
            <li class="navbar-nav nav-item">
              <a class="nav-link text-light" href="/register">Sign up</a>
            </li>
          </ul>
          {% else %}
          <!-- Avatar -->
          <div class="dropdown ml-auto">
            <a
              class="dropdown-toggle d-flex align-items-center hidden-arrow"
              href="#"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="{{g.user.head_img}}"
                class="rounded-circle"
                height="25"
                alt="Black and White Portrait of a Man"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li>
                <a class="dropdown-item" href="/users/{{g.user.username}}">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="/users/{{g.user.username}}/mylist">My List</a>
              </li>
              <li>
                <a class="dropdown-item" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
          <!-- <li class="nav-item">
            <a class="nav-link pr-3 text-light" href="/logout">Logout</a>
          </li> -->
          {% endif %}
        </div>
    </nav>

    <div class="container">
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">{{ msg }}</div>
        {% endfor %}

        {% block content%}
        {% endblock %}
    </div>
</body>
</html>